{% extends 'Base.html' %}
{% load crispy_forms_tags %}
{% load custom_filters %}
{% load static %}
{% block title %} FAQ {% endblock title %}
{% block body_block %}

<div class="faq">
    <h1>Frequently asked questions</h1>
    <div>
        <p>Let's clear our doubts regarding periods.</p>

    </div>
    <button class="accordion">Why do we call it menstruation?</button>
<div class="panel">
  <p>First up, why the heck do we call it a “menstrual” cycle anyway? Turns out, it comes from the Latin word menses, which translates to month. Ah, so it actually does make sense.</p>
</div>

<button class="accordion">Is PMS even real?</button>
<div class="panel">
  <p>If you ask any woman, including myself as a teenager who once cried when my waitress informed me that the restaurant was out of mozzarella sticks that night, PMS is most definitely real. I can count to the day when I struggle with my mood right before my period is about to start. It’s not so much that my mood changes as it is that things that wouldn’t normally upset me do. Examples include traffic, or a work mistake, or my husband’s snoring. These become insurmountable obstacles. It’s like I have less coping ability than normal.

    Alas, science has debated if PMS is a “real” phenomenon for a long time now. However, a very new study has shown that some women may simply be more sensitive to changes in hormone levels, even normal changes. These could contribute to the increased symptoms of sadness, irritability, and depression that many women face. The study also suggested that up to 56 percent of severe PMS cases are genetically inherited. Thanks, Mom.</p>


</div>

<button class="accordion">Why is my period late?</button>
<div class="panel">
  <p>There are several reasons why your period might be late.

    First of all: you might be pregnant. If you think this could be the case, you can take a home pregnancy test or see your doctor to check.
    
    However, several other factors can cause late or even missed periods, for example medication, stress, diet or exercise.
    
    In particular, young women, whose cycles are not yet so well established, often have hormonal fluctuations that can cause late or even missed periods.</p>
</div>
    
<button class="accordion">How to treat irregular periods?</button>
<div class="panel">
  <p>Indeed, if a menstrual cycle is regular, there is usually no reason for concern. Having a lower than average menstrual cycle length does not automatically mean that there is something wrong. For irregular periods there usually is also no immediate reason to consult your healthcare provider but if you are concerned, please do so. If you need contraceptionyour doctor can help you with that by prescribing you hormonal contraceptives which do not only reliably prevent unintended pregnancies but can also stabilise your menstrual cycle so that you can better plan for your periods.</p>
</div>
    
<button class="accordion">What do irregular period mean?</button>
<div class="panel">
  <p>Many women and girls suffer from irregular bleedings during their monthly menstrual cycles. Your period is irregular if it comes more frequently than 21 days, or you go 35 days or more between periods, the cycle length varies greatly. Sometimes irregular periods can be caused by some medicines, exercising too much, too low or too high body weight. Hormonal imbalancies can also cause irregular periods, e.g. thyroid hormone level abnormalities.

    Please check with your healthcare provider, who may find out the underlying reason and may be able to help you. If you also need a contraceptive, they may prescribe a hormonal one which prevents you from unintended pregnancies and may reduce your irregular bleedings.</p>
</div>
    
<button class="accordion">How long is the average period length?</button>
<div class="panel">
  <p>Bleeding can last between 2 and 7 days and can be light, heavy, short or long, because everybody is different.
    Young women and girls whose cycles are not yet so well established, often have hormonal fluctuations that can cause late or even missed periods.
    
    If you have bleeding that lasts longer than 7 days per period or is so heavy that you have to change your pad or tampon nearly every hour, you need to talk to your doctor.</p>
</div>
    
<button class="accordion">Why do have back and waist pain during the period?</button>
<div class="panel">
  <p>Heavy contractions can lead to low back pain, as the pain can radiate from the lower abdomen into the lower back. There are some hormonal contraception methods which may reduce these symptoms as they reduce your bleeding and, thus your pain as well. Please talk to your healthcare provider for individual medical advice.</p>
</div>
    
  
</div>
<script>
  var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}
</script>

{% endblock %}