{% extends 'Base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %} Pcod And Pcos {% endblock title %}
{% block body_block %}
<div class="pcod">
    <h1>Pcod and Pcos</h1>
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum est incidunt blanditiis vero minima! Alias quae consequatur magnam vero culpa illo commodi eligendi consequuntur, nihil doloremque dolores aspernatur iure aliquam!</p>
    </div>
    <div class="pcodm">
        <div class="pcodimg">
            <img src="{% static 'Home/images/31.jpg' %}" alt="">

        </div>
        <div class="pcodcontent">
            <h2>What is Pcod/Pcos?</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa incidunt autem dolorum ut ipsam perferendis laudantium architecto sit, temporibus, harum nam quibusdam itaque, aut in quo debitis soluta. Voluptas, ipsum!</p>

        </div>

    </div>
    <div class="detectmain">
        <div class="detectcontent">
            <h1>Signs of having pcod</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe, neque delectus ad soluta, nihil ducimus facere ut illum libero minima, mollitia labore reprehenderit quos rerum porro accusantium voluptatibus. Consectetur, obcaecati?</p>
    
        </div>
        <div class="detectimg">
            <img src="{% static 'Home/images/28.png' %}" alt="">
    
        </div>
       
    
    </div>

</div>


{% endblock %}