{% extends 'Base.html' %}
{% load crispy_forms_tags %}

{% block title %} Profile Pic Update {% endblock title %}


{% block body_block %}
<div class="addprofilepic">
    <h2>Add Your Profile Picture</h2>
    <div class="addprofilepicbox">
        <form  method="post" enctype="multipart/form-data">
            {{form|crispy}}
        
            {% csrf_token %}
            <button type="submit" class="custom-btn btn-2">Add Picture</button>
        
        </form>

    </div>


</div>


{% endblock body_block %}