*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .landing-page{
        background: #ff000073;
        height: 100vh;
      
        position: relative;
        height: 100vh;
        overflow: hidden;
  }
  .upperlanding
  {
    position: absolute;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
   
  
  }
  .upperlanding h1{
   margin-bottom: 3rem;
    letter-spacing: 6px;
    color:#af2323;
    text-shadow: 0 5px 5px rgb(0 0 0 / 50%);
    font-family: inherit;
    font-size: 7rem;
   
  }
  .upperlanding h1 span{
      color:  #5b1111;
  }
  .lowerlanding img{
    width: 79.7rem;
    height: 38.5rem;
    opacity: 0.8;
  }
  .navbar{
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
  }
  .navbar a{
    text-decoration: none;
    margin-left: 1rem;
  
    color: whitesmoke;
    font-size: 21px;
    font-weight: bold;

  }
  .Aboutus{
    background: #ff000073;
    padding: 1rem 0;
    box-shadow: 0 1px 5px 10px;
    height: 100vh;
    z-index: 2;
    overflow: hidden;
  }
  
  .Aboutus h1{
    text-align: center;
    font-size: 4rem;
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
  }
  .aboutusmain{
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: center;

  }
  .aboutuscontent p{
    font-size: 27px;
    font-weight: bold;
    color: white;
    margin-top: -5rem;

  }
  .reminder{
    background: #ff718773;
    display: flex;
    height: 100vh;
    overflow: hidden;
    z-index: 5;

  }
  .contentrem h2{
    font-size: 4rem;
    text-align: center;
    margin-left: 6rem;
    color: white;

  }
  .imgrem img{
    width: 23rem;
    margin-top: 9rem;
    margin-left: 2rem;
  }
  .custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 8px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 16px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
      inset -7px -7px 10px 0px rgba(0,0,0,.1),7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    text-shadow:  2px 2px 3px rgba(255,255,255,.5),
                -4px -4px 6px rgba(116, 125, 136, .2);
    outline: none;
  }
  .btn-2 {
    background-color: #ffa9b2;
    color: #c41717;
    border: none;

    
  }
  .btn-2:before {
    height: 0%;
    width: 2px;
  }
  .btn-2:hover {
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .5), 
      inset -4px -4px 6px 0 rgba(255,255,255,.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
  }
  
  .Blogmore{
    background: #ff718773;
    height: 32rem;
  }
  .Blogmore h1{
    text-align: center;
    font-size: 5rem;
    color: white;

  }

  .blogmain{
    display: flex;
    justify-self:center ;
    align-items: center;

  }
  .blogimg img{
    width: 23rem;
  }
  .blogcontent button{
    margin-left: 12rem;
    margin-top: 5rem;
  }
  .blogcontent p{
    margin-top: 2rem;
    font-weight: bold;
    font-size: 18px;
    color: indianred;

  }
  .navbar{
    margin-top: -0.5rem !important;
    margin-bottom: -0.5rem !important;
}
 .bg-dark {
  background-color: #ab3643f5 !important;
}
.tear {
  display: inline-block;
  transform: rotate(-30deg);
  border: 5px solid green;
  width: 50px;
  height: 100px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.myths{
  background:#ff718773;
  display: flex;
  text-align: center;
  align-items: center;
  position: relative;
 
}
.mythimg{
  width: 2rem;
}
.contentmyth h1{
  position: absolute;
 
    left: 6rem;
    top: 9rem;
    left: 7rem;
}
.contactmain{
 
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #d97f7f;
    margin: 2rem 7rem;
    padding: 2rem 2rem;
    border-radius: 18px;
    box-shadow: 0 0 5px 2px rgb(158 158 158 / 35%);

}
.contacthome{
  background:#ff718773 ;
  height: 30rem;

}
.contacthome h1{
  text-align: center;
  color: white;
  font-size: 6rem;
  font-weight: bold;
}
.contactcon{
  align-items: center;
    text-align: center;

}
.contactcon p{
  padding-right: 5rem;
  margin-left: 2rem;
  font-size: 19px;
  font-weight: bold;
  color: indianred;

}
.contactimg img{
  width: 13rem;
  margin-right: 2rem;
}
.footermain{
  background:#fabebe87;
}
.footermaini{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center; 
  padding: 2rem 2rem;
}
.footerimg img{
  width: 23rem;
}
.footercontent p{
  font-size: 20px;
    padding: 7rem;

}